.cinema {
	&-container {
		position: relative;
		overflow: hidden;
		&.cinema {
			&-fullscreen {
				background: #000;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
	&-media {
		width: 100%;
		display: block;
	}
	&-toolbar {
		background: #000;
		background: rgba(0, 0, 0, 0.3);
		color: #fff;
		width: 100%;
		position: absolute;
		bottom: -65px;
		left: 0;
		opacity: 0;
		transition: 0.2s all ease;
		&-active {
			bottom: 5px;
			opacity: 1;
		}
		&-left {
			float: left;
		}
		&-right {
			float: right;
		}
	}
	&-btn {
		background: transparent;
		color: #fff;
		border: none;
		padding: 0.5em 1em;
		cursor: pointer;
		transition: 0.2s all ease;
		img {
			width: 14px;
		}
		&:hover {
			background: rgba(0, 0, 0, 0.3);
			background: #f00;
		}
		&:focus, &:active {
			outline: none;
		}
		&-fullscreen {
			img {
				width: 18px;
			}
		}
	}
	&-progress-bar {
		&-container {
			background: #ccc;
			height: 5px;
		}
		&-inner {
			background: #f00;
			height: 5px;
			display: block;
			width: 0;
			transition: 0.2s all ease;
		}
		&-buffer {
			background: #aaa;
			height: 5px;
			display: block;
			width: 0;
			transition: 0.2s all ease;
		}
	}
	&-times {
		color: #ddd;
		font-size: 14px;
		padding: 0 0.5em;
	}
}
