body {
	background: #191919;
	font-size: 15px;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.cinema {
	&-container {
		position: relative;
		overflow: hidden;
	}
	&-media {
		width: 100%;
		display: block;
	}
	&-toolbar {
		background: #000;
		background: rgba(0, 0, 0, 0.3);
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	&-btn {
		background: transparent;
		color: #fff;
		border: none;
		padding: 0.5em 1em;
		cursor: pointer;
		transition: 0.2s all ease;
		&:hover {
			background: rgba(0, 0, 0, 0.3);
		}
		&:focus, &:active {
			outline: none;
		}
	}
}
